@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #09207d;
  color: white;
}

.navbar {
  background: rgba(0, 0, 0, 0.63);
  left: 0;
}

/* .screen {
  min-height: calc(100vh);
} */

.home_container {
  background-image: url(/img/homebg.jpeg);
  background-size: cover;
  background-position: center;
}

p {
  font-family: "Actor", sans-serif;
}
